@page "/MembersList"
@using Application.Common
@using Application.Common.Pagination
@using Autodesk.Domain
@inject IHttpClientFactory HttpClientFactory

<h3>People</h3>

@if (Users.Count == 0 && !Loading)
{
    <p><em>No hay registros.</em></p>
}
else
{
    <table class="table">
        <thead><tr><th>Nombre</th><th>…</th></tr></thead>
        <tbody>
            @foreach (var u in Users)
            {
                <tr><td>@u.Name</td><td>…</td></tr>
            }
        </tbody>
    </table>

    @if (NextCursor != null)
    {
        <button class="btn btn-primary"
                @onclick="LoadMore"
                disabled="@Loading">
            @if (Loading)
            {
                <span class="spinner-border spinner-border-sm"></span>
            }
            Cargar más
        </button>
    }
}

@code {
    List<User> Users = new();
    string? NextCursor;
    bool Loading;

    protected override async Task OnInitializedAsync()
      => await LoadMore();

    private async Task LoadMore()
    {
        Loading = true;
        var client = HttpClientFactory.CreateClient("AutodeskApi");
        var url = $"api/v1/users/cursor?name=&cursor={NextCursor}&pageSize=20";
        var page = await client.GetFromJsonAsync<PagedResult<User>>(url);
        Users.AddRange(page.Items);
        NextCursor = page.NextCursor;
        Loading = false;
    }
}
